*{
    margin: 0;
    box-sizing: border-box;
}


body{
    background-image: linear-gradient(
        0deg,
     rgba(0,0,0,0.6),
     rgba(0,0,0,0.6)),
    url(./../img/vianda\ 2.jpg);
    margin: 0;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family:'Roboto', sans-serif;
   
}

h1{ font-size: 2.0em;}
h2{ font-size: 1.9em; color: aliceblue;}
h3{ font-size: 1.5em; color: aliceblue}
h4{ font-size: 2.0em; color: aliceblue}
p{ font-size: 1.5em; color: aliceblue}

a{
    text-decoration: none;
    color: bisque;
}
header{
    display: flex;
    background-color: rgba(99, 58, 22, 0.9);
    justify-content: space-between;
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    color: bisque;
}

.logo-img{
    height: 50px;
    margin-right: 10px; 
}

.viandas{
    display: flex
    color black;
}

nav a{
    font-weight: 600px;
    padding-right: 15px;
}

nav a:hover{
    color:white
    
}

#menu{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70vh;
    margin-bottom: 50px;
    background: rgba(0,0,0,0.6);
  
    
}

#submenu{
    margin-bottom: 20px;
}


#menuimg{
    display: flex;
    justify-content: center;

}

.img1{
    padding: 50px;
}

#promociones{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70vh;
    margin-bottom: 50px;
    background: rgba(0,0,0,0.6);

}

h4{
    font-size: 1.25em;

    
}

#subpromoimg{

    text-align: right;
    padding-left: 300px;
    

}

.promo1{
    padding: 10px;

}


#presentacion{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70vh;
    margin-bottom: 50px;
    background: rgba(0,0,0,0.6);

}

#subpresentacion{
    text-decoration: underline;
    color: rgb(3, 9, 14);
    padding-right: 350px , 100px;
    justify-content: space-between;
}

footer{
    display: flex;
    background-color: rgba(99, 58, 22, 0.9);
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    align-items: center;
    height: 30vh;

}

#contactanos{
    padding: 40px;
}

.logos{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 50px;
    box-sizing: border-box;
    align-items: center;
    float: left;
}


#subcontactanos{

}







